name: automation deployment

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v4

      - name: Login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ DOCKER.USERNAME }}
          password: ${{ DOCKER.PASSWORD }}
      
      - name: build & push
        run: |
          docker build -t ${{ DOCKER.USERNAME }}/booksreview:latest
          docker push ${{ DOCKER.USERNAME}}/booksreview:latest
      
      